{% extends "base.html" %}
{% block content %}
<form action="" method="POST">
	{{ form.hidden_tag() }}	
	<table>	
	<tr>
		<td colspan="3">{{ form.one.label }}</td>
		<td colspan="2" style="padding-left: 50px;">{{ form.one(size=10) }}</td>
		<td></td>
		<td></td>
		<td></td>
		<td>{% for error in form.one.errors %}
		<span style="color: red;">Please, enter an integer.</span>
		{% endfor %}</td>
	</tr>
	<tr>
		<td colspan="3">{{ form.two.label }}</td>
		<td colspan="2" style="padding-left: 50px;">{{ form.two(size=10) }}</td>
		<td></td>
		<td></td>
		<td></td>
		<td>{% for error in form.two.errors %}
		<span style="color: red;">Please, enter an integer.</span>
		{% endfor %}</td>
	</tr>
	<tr>
	<td><input id= "button" type="submit" name="button" value="+"></td>
	<td><input id="button" type="submit" name="button" value="-"></td>
	<td><input id="button" type="submit" name="button" value="X"></td>
	<td><input id="button" type="submit" name="button" value="/"></td>
	<td><input id="button" type="submit" name="button" value="Clear"></td>
	<td></td>
	</tr>
	</table>
	<br>Result<br>
	<textarea>{{ output }}</textarea>
</form>
{% endblock %}